<section class="jumbotron  text-center">

<h1>Welcome, <%= @user['name'] %>!</h1>
</section>
<section class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Normalized User Profile</div>
    <div class="panel-body">
<!-- Place a logout button anywhere on your application -->
  <%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false }, style: 'background-color: #FF0000; color: white; font-weight: bold; padding: 0.75rem 1.5rem; border-radius: 0.375rem; transition: background-color 0.3s; ', class: 'button-style' %>
    </div>
  </div>
</section>
