<section class="flex flex-col items-center justify-center min-h-screen w-full text-center text-white py-12">
  <div class="mb-12">
    <h1 class="text-5xl font-extrabold leading-tight">
      Welcome, <%= @user['name'] %>!
    </h1>
    <p class="mt-4 text-lg font-medium">
      We're glad to have you here.
    </p>
  </div>
  
  <div class="flex flex-col items-center space-y-4">
    <!-- Bottone per il Logout -->
    <%= button_to 'Logout', 'auth/logout', method: :get, data: { turbo: false }, 
                  class: 'bg-red-500 hover:bg-red-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transform transition-transform duration-300 hover:scale-105' %>

    <!-- Bottone per andare alla Home -->
    <%= button_to 'Home', root_path, method: :get, data: { turbo: false },
              class: 'bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-lg shadow-md transform transition-transform duration-300 hover:scale-105' %>
  </div>
</section>

