<div id="guestModal" class="fixed inset-0 shadow-2xl flex items-center justify-center z-50 hidden">
  <audio id="errorSound" src="<%= audio_path('Error.mp3') %>" preload="auto"></audio>

  <div  style="background: #141414;" class=" rounded-lg shadow-lg p-6 max-w-xl w-full border border-white">
    <h3 class="text-center text-xl font-bold text-white mb-4">Access Required</h3>
    <p class="text-center text-white">You need to log in with an account to access this feature.</p>
    <div class="mt-6 text-center">
      <button onclick="closeGuestModal()" class="text-white px-4 py-2 rounded-lg hover:bg-white hover:text-neutral-900">Close</button>
    </div>
  </div>
</div>
