<!-- app/views/errors/404.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Page Not Found</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
<div class="text-center">
  <h1 class="text-6xl font-bold text-red-600">404</h1>
  <p class="mt-4 text-lg text-gray-700">Sorry, the page you are looking for does not exist.</p>
  <a href="<%= root_path %>" class="mt-6 inline-block px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600">Back to Home</a>
</div>
</body>
</html>
