<turbo-stream target="output" action="update">
  <template>
    <div class="bg-gray-900 text-white p-4 rounded-lg">
      <!--<%= j @result %>-->
      <h1>Hello, world</h1>
    </div>
  </template>
</turbo-stream>