<h1>Dettagli della Sfida</h1>
<div>
  <p><strong>Giocatore 1:</strong> <%= @challenge.player_1.name %></p>
  <p><strong>Giocatore 2:</strong> <%= @challenge.player_2.name %></p>
  <p><strong>Status:</strong> <%= @challenge.status %></p>
</div>
