.file-icon {
    width: 100px;
    height: 100px;
    top: 45%;
    left: 45%;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: absolute;
}

.file-icon:hover {
    border: 2px solid white;
    background: #ccc;
}

.file-icon img {
    width: 80px;
    height: 80px;
}

.file-icon p {
    margin: 0;
    font-size: 14px;
}

.terminal-window {
    border-color: aliceblue;
    border-width: 2px;
    text-align: left;
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
    margin: auto;
    position: relative;
  }

  .hidden {
    display: none;
}

  .terminal-window header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background: #2f3031;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding: 0 10px; 
  }
  
  .terminal-window header .title-program {
    color: #dddddd;
    margin-top: 2px;
    font-family: "Ubuntu Mono";
    font-size: 12pt;
  }
  
  .terminal-window header .button-container {
    display: flex;
    gap: 15px; 
  }
  
  .terminal-window header .button {
    width: 20px;
    height: 20px;
    margin-top: 1px;
    display: inline-flex;
    border-radius: 8px;
  }

  .terminal-window header .button .exit {
    margin: 10px;
  }

  
  
  .terminal-window section.terminal {
    color: white;
    font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
    font-size: 13pt;
    background: #141414;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 30px;
    bottom: 0;
    overflow: auto;
  }
  
  .utente{color:green}

  .error{color:red}